[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
transformers = "*"
flask = "*"
accelerate = "*"
torch = "*"
peft = "*"

[dev-packages]

[requires]
python_version = "3.12"
